{% extends 'admin/templates/default.twig' %}

{% block header %}
    <header class="page-header">
	    <div class="container-fluid">
	      <h2 class="no-margin-bottom">常見問題</h2>
	    </div>
  	</header>
{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <div class="container-fluid">
          	<li class="breadcrumb-item"><a href="{{ path_for('admin.home') }}">主選單</a></li>
            <li class="breadcrumb-item">學位課程</li>
            <li class="breadcrumb-item active">常見問題</li>
        </div>
    </ul>

    <div class="col-lg-12" style="margin-top:20px;">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h3 class="h4">新增常見問題</h3>
        </div>
        <div class="card-body">

          <div style="padding-bottom:10px;">
            {% include 'admin/templates/partials/flash.twig' %}
            <small style="color:red;"><strong> (*) 必填 </strong></small>
          </div>
          <form class="form-horizontal" id="charterForm" action="{{ path_for(action_route) }}" method="POST" enctype="multipart/form-data">
                  <div class="form-group row">
                    {% if common_problem_own.lang == 'eng' %}
                        {% set chn = '' %}
                        {% set eng = 'checked' %}
                    {% else %}
                        {% set chn = 'checked' %}
                        {% set eng = '' %}
                    {% endif %}
                    <label class="col-sm-2 form-control-label">語言: <span style="color:red">(*)</span></label>
                        <div class="col-sm-10">
                          <label class="checkbox-inline">
                            <input id="inlineCheckbox1" type="radio" name="lang" value="chn" class="radio-template" {{ chn }}> 中文 <small>(預設)</small>
                          </label>
                          &nbsp;&nbsp;
                          <label class="checkbox-inline">
                            <input id="inlineCheckbox2" type="radio" name="lang" value="eng" class="radio-template" {{ eng }}> 英文 <small>(選擇英文將呈現於英文網頁)</small>
                          </label>
                        </div>
                  </div>

                  <div class="line"></div>

                  <div class="form-group row">
                      <label class="col-sm-2 form-control-label">問題: <span style="color:red">(*)</span></label>
                      <div class="col-sm-10">
                        <input type="text" name="course-common-problem-title" class="form-control" value="{{ common_problem_own.title }}">
                      </div>
                  </div>

                  <div class="line"></div>

                 <div class="form-group row">
                      <label class="col-sm-2 form-control-label">解答: <span style="color:red">(*)</span></label>
                      <div class="col-sm-10">
                        <textarea class="form-control" name="course-common-problem-answer" cols="100" rows="10" style="resize:none;">
                        {{ common_problem_own.answer }}
                        </textarea>
                      </div>
                  </div>

                  <div class="line"></div>

                        {% if action_route == 'course.common.problem.update' %}
                          <input type="hidden" name="update-id" value="{{ common_problem_own.id }}">
                        {% endif %}

                  <div class="form-group row">
                      <div class="col-sm-12 text-right">
                        <button type="reset" class="btn btn-secondary">重置</button>
                        <button type="submit" class="btn btn-primary">儲存</button>
                      </div>
                  </div>

          </form>
        </div>
      </div>
    </div>

    <div class="col-lg-12" style="margin-top:20px;">
              <div class="card">
                <div class="card-header d-flex align-items-center">
                  <h3 class="h4">學位課程常見問題列表</h3>
                </div>
                <div class="card-body">
                    <table id="dataTable" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th width="25">序.</th>
                                <th width="150">更新日期</th>
                                <th width="100">語言</th>
                                <th>問題</th>
                                <th width="100">編輯</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for commonProblem in data %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ commonProblem.updated_at }}</td>
                                <td>{% if commonProblem.lang == 'chn' %} 中文 {% else %} 英文 {% endif %}</td>
                                <td>{{ commonProblem.title }}</td>
                                <td>
                                  <a href="{{ path_for('course.common.problem.search', {id: commonProblem.id }) }}" class="btnCommonProblemEdit" title="編輯"><i class="fa fa-pencil" aria-hidden="true"></i></a> &nbsp;
                                  <a href="#" role="{{ commonProblem.id }}" class="btnCommonProblemDelete" title="刪除"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
              </div>
      </div>             

{% endblock %}