{% extends 'templates/default.twig' %}

{% block content %}

	<section>
		<h2 id="content">{{ trans('menu.nav.group.staff') }}</h2>
		<div class="about-content">

			{% if staffs is not empty %}

				{% for staff in staffs %}

				<div class="box" >
					<div class="staffGridBox">
						<div class="photo">
							<img src="{{ base_url() }}/upload/staffs/{{ staff.photo }}">
						</div>
						<div class="container">
						 <p><h2><strong>{{ staff.name }}</strong></h2></p>
						 <p>{{ trans('staff.email') }}： <a href="mailto: {{ staff.email }}">{{ staff.email }}</a></p>
						 <p>{{ trans('staff.contact') }}： {{ staff.tel }}</p>
						</div>
					</div>
				</div>					

				{% endfor %}

			{% else %}

				<div class="row">
					<div class="6u 12u$(small) ">
					<div class="coming-soon-box">
						<div class="coming-soon-content">
							<h2>{{ trans('home.coming-soon.title') }}</h2>
							<small>{{ trans('home.coming-soon.sub-title') }}</small>
						</div>
					</div>
					</div>
					<div class="6u$ 12u$(small)">
						<img src="{{ base_url() }}/public-assets/images/pic12.jpg" class="image fit">
					</div>
				</div>

			{% endif %}

		</div>
	</section>

{% endblock %}