{% extends 'admin/templates/default.twig' %}

{% block header %}
    <header class="page-header">
	    <div class="container-fluid">
	      <h2 class="no-margin-bottom">發展方向與重點</h2>
	    </div>
  	</header>
{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <div class="container-fluid">
          	<li class="breadcrumb-item"><a href="{{ path_for('admin.home') }}">主選單</a></li>
            <li class="breadcrumb-item">關於我們</li>
            <li class="breadcrumb-item active">發展方向與重點</li>
        </div>
    </ul>

    <div class="col-lg-12" style="margin-top:20px;">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h3 class="h4">新增發展方向與重點</h3>
        </div>
        <div class="card-body">
          <div style="padding-bottom:10px;">
            {% include 'admin/templates/partials/flash.twig' %}
            <small style="color:red;"><strong> (*) 必填 </strong></small>
          </div>

        <form class="form-horizontal" id="developForm" action="{{ path_for(action_route) }}" method="POST" enctype="multipart/form-data">
                  <div class="form-group row">
                    {% if develop_own.lang == 'eng' %}
                        {% set chn = '' %}
                        {% set eng = 'checked' %}
                    {% else %}
                        {% set chn = 'checked' %}
                        {% set eng = '' %}
                    {% endif %}
                    <label class="col-sm-2 form-control-label">語言: <small></small></label>
                        <div class="col-sm-10">
                          <label class="checkbox-inline">
                            <input id="inlineCheckbox1" type="radio" name="lang" value="chn" class="radio-template" {{ chn }}> 中文 <small>(預設)</small>
                          </label>
                          &nbsp;&nbsp;
                          <label class="checkbox-inline">
                            <input id="inlineCheckbox2" type="radio" name="lang" value="eng" class="radio-template" {{ eng }}> 英文 <small>(選擇英文將呈現於英文網頁)</small>
                          </label>
                        </div>
                  </div>


                  <div class="line"></div>

                    <div class="form-group row">
                      <label class="col-sm-2 form-control-label">內容: <span style="color:red">(*)</span></label>
                      <div class="col-sm-10">
                        <textarea name="editor1" id="editor1" rows="10" cols="80" placeholder="文章內容">
                          {{ develop_own.content|raw  }}
                        </textarea>
                        {% autoescape %}
                          <script>
                              // Replace the <textarea id="editor1"> with a CKEditor
                              // instance, using default configuration.
                              CKEDITOR.replace( 'editor1' );
                          </script>
                        {% endautoescape %}
                      </div>
                    </div>

                    <div class="line"></div>
                        {% if action_route == 'develop.update' %}
                          <input type="hidden" name="update-id" value="{{ develop_own.id }}">
                        {% endif %}
                    <div class="form-group row">
                      <div class="col-sm-12 text-right">
                        <button type="reset" class="btn btn-secondary">重置</button>
                        <button type="submit" class="btn btn-primary">儲存</button>
                      </div>
                    </div>

                  </form>

                </div>
              </div>
            </div>

            <div class="col-lg-12" style="margin-top:20px;">
              <div class="card">
                <div class="card-header d-flex align-items-center">
                  <h3 class="h4">組織架構列表</h3>
                </div>
                <div class="card-body">
                    <table id="dataTable" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th width="25">序.</th>
                                <th width="150">更新日期</th>
                                <th>語言</th>
                                <th width="100">編輯</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for develop in data %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ develop.updated_at }}</td>
                                <td>{% if develop.lang == 'chn' %} 中文 {% else %} 英文 {% endif %}</td>
                                <td>
                                  <a href="{{ path_for('develop.search', {id: develop.id }) }}" class="btndevelopEdit" title="編輯"><i class="fa fa-pencil" aria-hidden="true"></i></a> &nbsp;
                                  <a href="#" role="{{ develop.id }}" class="btndevelopDelete" title="刪除"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
              </div>
            </div>



        </div>
      </div>
    </div>

{% endblock %}