{% extends 'admin/templates/default.twig' %}

{% block header %}
    <header class="page-header">
	    <div class="container-fluid">
	      <h2 class="no-margin-bottom">修課規定</h2>
	    </div>
  	</header>
{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <div class="container-fluid">
          	<li class="breadcrumb-item"><a href="{{ path_for('admin.home') }}">主選單</a></li>
            <li class="breadcrumb-item">學位課程</li>
            <li class="breadcrumb-item active">修課規定</li>
        </div>
    </ul>

    <div class="col-lg-12" style="margin-top:20px;">
      <div class="card">
        <div class="card-header d-flex align-items-center">
          <h3 class="h4">新增修課規定</h3>
        </div>
        <div class="card-body">

          <div style="padding-bottom:10px;">
            {% include 'admin/templates/partials/flash.twig' %}
            <small style="color:red;"><strong> (*) 必填 </strong></small>
          </div>
          <form class="form-horizontal" id="charterForm" action="{{ path_for(action_route) }}" method="POST" enctype="multipart/form-data">
                <div class="form-group row">
                    {% if course_own.lang == 'eng' %}
                        {% set chn = '' %}
                        {% set eng = 'checked' %}
                    {% else %}
                        {% set chn = 'checked' %}
                        {% set eng = '' %}
                    {% endif %}
                    <label class="col-sm-2 form-control-label">語言: <span style="color:red">(*)</span></label>
                        <div class="col-sm-10">
                          <label class="checkbox-inline">
                            <input id="inlineCheckbox1" type="radio" name="lang" value="chn" class="radio-template" {{ chn }}> 中文 <small>(預設)</small>
                          </label>
                          &nbsp;&nbsp;
                          <label class="checkbox-inline">
                            <input id="inlineCheckbox2" type="radio" name="lang" value="eng" class="radio-template" {{ eng }}> 英文 <small>(選擇英文將呈現於英文網頁)</small>
                          </label>
                        </div>
                  </div>

                  <div class="line"></div>

                  <div class="form-group row">
                      <label class="col-sm-2 form-control-label">課程代碼: <span style="color:red">(*)</span></label>
                      <div class="col-sm-10">
                        <input type="text" name="course-code" class="form-control" value="{{ course_own.code }}">
                      </div>
                  </div>

                  <div class="form-group row">
                      <label class="col-sm-2 form-control-label">課程名稱: <span style="color:red">(*)</span></label>
                      <div class="col-sm-10">
                        <input type="text" name="course-name" class="form-control" value="{{ course_own.name }}">
                      </div>
                  </div>

                  <div class="form-group row">
                      <label class="col-sm-2 form-control-label">學分數: <span style="color:red">(*)</span></label>
                      <div class="col-sm-10">
                        <input type="number" name="course-credit" class="form-control" value="{{ course_own.credit }}">
                      </div>
                  </div>

                  <div class="form-group row">
                      <label class="col-sm-2 form-control-label">備註:</label>
                      <div class="col-sm-10">
                        <textarea rows="10" cols="100" name="course-notes" class="form-control" style="resize:none;">
                          {{ course_own.notes }}
                        </textarea>
                      </div>
                  </div>

                  <div class="line"></div>
                        {% if action_route == 'course.update' %}
                          <input type="hidden" name="update-id" value="{{ course_own.id }}">
                        {% endif %}

                  <div class="form-group row">
                      <div class="col-sm-12 text-right">
                        <button type="reset" class="btn btn-secondary">重置</button>
                        <button type="submit" class="btn btn-primary">儲存</button>
                      </div>
                  </div>
          </form>
        </div>
      </div>
    </div>


    <div class="col-lg-12" style="margin-top:20px;">
              <div class="card">
                <div class="card-header d-flex align-items-center">
                  <h3 class="h4">學位課程修課規定列表</h3>
                </div>
                <div class="card-body">
                    <table id="dataTable" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th width="25">序.</th>
                                <th width="150">更新日期</th>
                                <th>語言</th>
                                <th>課程代碼</th>
                                <th>課程名稱</th>
                                <th>學分數</th>
                                <th>備註</th>
                                <th width="100">編輯</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for course in data %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ course.updated_at }}</td>
                                <td>{% if course.lang == 'chn' %} 中文 {% else %} 英文 {% endif %}</td>
                                <td>{{ course.code }}</td>
                                <td>{{ course.name }}</td>
                                <td>{{ course.credit }}</td>
                                <td><a href="#"><small><strong>[註]</strong></small></a></td>
                                <td>
                                  <a href="{{ path_for('course.search', {id: course.id }) }}" class="btnCourseEdit" title="編輯"><i class="fa fa-pencil" aria-hidden="true"></i></a> &nbsp;
                                  <a href="#" role="{{ course.id }}" class="btnCourseDelete" title="刪除"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
              </div>
      </div>          

{% endblock %}