<!DOCTYPE HTML>

<html>
	<head>
		<title>PIMS</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="icon" href="{{ base_url() }}/public-assets/images/logo.png" type="image/png">
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{ base_url() }}/public-assets/css/main.css" />
		<link rel="stylesheet" href="{{ base_url() }}/public-assets/css/custome.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Main -->
				<div id="main">
					<div class="inner">

						<!-- Header -->
						{% include 'templates/partials/header.twig' %}

						<!-- Banner -->
						{% block banner %} {% endblock %}

						<!-- Section -->
						{% block content %} {% endblock %}
					</div>
				</div>

			<!-- Sidebar -->
			{% include 'templates/partials/sidebar.twig' %}

		</div>

		<!-- Scripts -->
		<script src="{{ base_url() }}/public-assets/js/jquery.min.js"></script>
		<script src="{{ base_url() }}/public-assets/js/skel.min.js"></script>
		<script src="{{ base_url() }}/public-assets/js/util.js"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="{{ base_url() }}/public-assets/js/main.js"></script>
		<script src="{{ base_url() }}/public-assets/js/app.js"></script>

	</body>
</html>