<div id="sidebar">
		<div class="inner">

		<!-- Search -->
			<section id="search" class="alt">
				<form method="post" action="#">
					<input type="text" name="query" id="query" placeholder="{{ trans('home.search') }}" />
				</form>
			</section>

		<!-- Menu -->
			<nav id="menu">
				<header class="major">
					<h2>{{ trans('menu.title') }}</h2>
				</header>
				<ul>
					<li><a href="{{ path_for('home') }}">{{ trans('menu.nav.home') }}</a></li>
					<li><a href="{{ path_for('c.news.index') }}">{{ trans('menu.nav.news') }}</a></li>
					<li>
						<span class="opener {% if active.is_dropdown_about == 'true' %} active {% endif %}">{{ trans('menu.nav.abouts.index') }}</span>
						<ul>
							<li {% if active.intro == 'true' %} class="isActive" {% endif %}><a href="{{ path_for('c.about.index') }}">{{ trans('menu.nav.abouts.intro') }}</a></li>
							<li {% if active.origin == 'true' %} class="isActive" {% endif %}><a href="{{ path_for('c.course.about.index') }}">{{ trans('menu.nav.abouts.origin') }}</a></li>
							<li {% if active.develop == 'true' %} class="isActive" {% endif %} ><a href="{{ path_for('c.about.develop.index') }}">{{ trans('menu.nav.abouts.develop') }}</a></li>
							<li {% if active.trend == 'true' %} class="isActive" {% endif %}><a href="{{ path_for('c.about.trend.index') }}">{{ trans('menu.nav.abouts.trend') }}</a></li>
						</ul>
					</li>
					<li {% if active.courseRegulations == 'true' %} class="isActive" {% endif %}><a href="{{ path_for('c.course.regulation.index') }}">{{ trans('menu.nav.regulations') }}</a></li>
					<li>
						<span class="opener {% if active.is_dropdown_member == 'true' %} active {% endif %}">{{ trans('menu.nav.group.index') }}</span>
						<ul>
							<li  {% if active.teachers == 'true' %} class="isActive" {% endif %}><a href="{{ path_for('c.teachers.index') }}">{{ trans('menu.nav.group.teachers') }}</a></li>
							<li {% if active.staff == 'true' %} class="isActive" {% endif %}><a href="{{ path_for('c.staff.index') }}">{{ trans('menu.nav.group.staff') }}</a></li>
						</ul>
					</li>
					<li>
						<span class="opener {% if active.is_dropdown_course == 'true' %} active {% endif %}">{{ trans('menu.nav.course.index') }}</span>
						<ul>
							<li {% if active.rules == 'true' %} class="isActive" {% endif %}><a href="{{ path_for('c.course.rules.index') }}">{{ trans('menu.nav.course.rules') }}</a></li>					
						</ul>
					</li>
					<li {% if active.downloads == 'true' %} class="isActive" {% endif %}><a href="{{ path_for('c.downloads.index') }}">{{ trans('menu.nav.attachments') }}</a></li>
					<li {% if active.commonProblem == 'true' %} class="isActive" {% endif %}><a href="{{ path_for('c.common.problem.index') }}">{{ trans('menu.nav.common-problems') }}</a></li>
					<li {% if active.link == 'true' %} class="isActive" {% endif %}><a href="{{ path_for('c.related.link.index') }}">{{ trans('menu.nav.links') }}</a></li>
				</ul>
			</nav>


		<!-- Section -->
			<section>
				<header class="major">
					<h2>{{ trans('contact.title') }}</h2>
				</header>
				<ul class="contact">
					<li class="fa-envelope-o"><a href="#">{{ trans('contact.email') }}</a></li>
					<li class="fa-phone">{{ trans('contact.tel') }}</li>
					<li class="fa-phone">{{ trans('contact.fax') }}</li>
					<li class="fa-home">
						{{ trans('contact.address') }} <br>
						{{ trans('contact.location')}}
					</li>
				</ul>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<p class="copyright">&copy; 2017 Department of Psychology, <a href="{{ trans('contact.link') }}" target="_blank">NCKU</a>. </p>
			</footer>

	</div>
</div>